.App {
  text-align: center;
  color: white;
  margin: 30px;
}

.redcolor {
  color: #8D3D36;
}

.machinecolor {
  color: rgb(67, 77, 101);
}

.playlist {
  background-color: rgb(67, 77, 101);
  margin: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #7e332c;
}

.player {

  .left-panel {

    .label {
      font-size: 1rem;
      text-align: center;
      margin: 5px;
      padding: 5px;
    }
    .btn-play {
      margin: 5px;
      padding: 5px;
      border-radius: 30px;
      border: none;
      font-size: 14px;
      background-color: Transparent;
    }
  }

  .right-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    .cursor {
      height: 100%;
      position: absolute;
      -webkit-appearance: none;
      width: calc(100% - 24px);
      background: transparent;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;

      }

      &:focus {
        outline: none;
      }

      &::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparentblack;
        color: transparent;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 390px;
        width: 1px;
        background: black;
        cursor: pointer;
      }
    }

    .track-container {
      min-height: 43px;
      display: flex;
      align-items: center;
   

      .track {
        min-height: 20px;
        width: 100%;
      }
    }
  }
}


.controller {
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 0;
  border-radius: 5px;
  background-color: rgb(67, 77, 101);
}
